@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'GmarketSansMedium';
}
#logo { width: 150px;  }
/*#head { background-color: #D8D2CA}*/
a.menu_a {
    text-decoration: none;
    color: black;
}
.click{
    color: #98C0DC;
}
img.menu_a {
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
}
div#head {
    display: flex;
    margin: 20px;
    height: 70px;
    text-align: center;
}
div.logo, div.menu {
    flex: 1;
}
div.menu {
    font-size: 20px;
    margin: 20px;
    font-family: 'GmarketSansMedium';
    align-items : center;
    justify-content : center;
    height: 70px;
}